label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}
.box1{
    
    width: 80%;
    height:500px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 100px;
    padding-right: 100px;
    position: relative;
    top: 300px;
    margin-bottom: 200px;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgb(175, 197, 194);
    text-align: center;
    background-image: linear-gradient(43deg, #e48417 2%, #e8e3f1 26%, #1e9713 100%);
}
#hours1{
    float: left;
}  

    
#entry{
    float: right;
    
}


@media only screen and (min-width: 375px) and (max-width: 812px) {
    .box{    
        padding-top: 60px;
        padding-bottom: 60px;
    }

  }

  .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
.book {
    width: 100px;
    height: 50px;
margin-top:150px;  
margin-left:350px;
background-color: rgb(12, 12, 77);
}
.fas fa-clock {
margin-top:150px;  
margin-left:350px;
}